
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
}
.light{
  color: black;
}
.dark{
   color:white;
   background-color:#0a0a0a;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: auto;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
    scale:0.5;
  }
  100%{
    opacity: 1;
    scale: 1;
  }
}
.dark a{
     color: rgb(232, 227, 227);
}